In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
pd.set_option('display.max_rows', 500) 
pd.set_option('display.max_columns', 500)

In [11]:
app_df = pd.read_csv(r'C:\DA12\Projects\capstone_refugees_da12\data\applications.csv', skiprows=11)

In [13]:
app_df.head()

   2000  G  AR  C  18  0  514  53  585
0  2000  G  AR  C   0  0   12   5   17
1  2000  G  AR  C   0  0    5   0    5
2  2000  G  AR  C  16  0   76  10  102
3  2000  G  AR  C   0  0   10   0   10
4  2000  G  AR  C   0  0   11   0   11