In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [79]:
# this allows me to see more rows so I can copy and paste df data
pd.set_option('display.max_rows', 500) 
pd.set_option('display.max_columns', 500)

In [3]:
df = pd.read_csv(r'C:\DA12\Projects\capstone_refugees_da12\data\population_totals.csv', skiprows=14)

In [5]:
df.head()

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Other people in need of international protection,Stateless persons,Host Community,Others of concern
0,1951,Unknown,UNK,Australia,AUS,180000,0,0,-,0,0,0
1,1951,Unknown,UNK,Austria,AUT,282000,0,0,-,0,0,0
2,1951,Unknown,UNK,Belgium,BEL,55000,0,0,-,0,0,0
3,1951,Unknown,UNK,Canada,CAN,168511,0,0,-,0,0,0
4,1951,Unknown,UNK,Denmark,DNK,2000,0,0,-,0,0,0

In [7]:
df.pop('Country of origin (ISO)')
df.pop('Country of asylum (ISO)')
df.pop('Asylum-seekers')
df.pop('IDPs of concern to UNHCR')
df.pop('Other people in need of international protection')
df.pop('Stateless persons')
df.pop('Host Community')
df.pop('Others of concern')

0           0
1           0
2           0
3           0
4           0
         ...
125804    133
125805      0
125806      0
125807      0
125808     10
Name: Others of concern, Length: 125809, dtype: int64

In [13]:
df.columns = ['Year', 'Country of Origin', 'Country of Asylum', 'Refugees']

In [15]:
df.head(10)

,Year,Country of Origin,Country of Asylum,Refugees
0,1951,Unknown,Australia,180000
1,1951,Unknown,Austria,282000
2,1951,Unknown,Belgium,55000
3,1951,Unknown,Canada,168511
4,1951,Unknown,Denmark,2000
5,1951,Unknown,France,290000
6,1951,Unknown,United Kingdom of Great Britain and Northern I...,208000
7,1951,Unknown,Germany,265000
8,1951,Unknown,Greece,18000
9,1951,Unknown,"China, Hong Kong SAR",30000

In [21]:
origin = (
    df.groupby('Country of Origin')["Refugees"].sum()
    .reset_index()
    #.sort_values("Refugees", ascending=False)
    .iloc[0:500] 
)
origin

    Country of Origin   Refugees
0         Afghanistan  154402630
1             Albania     417113
2             Algeria     211409
3             Andorra         92
4              Angola   17775243
..                ...        ...
209          Viet Nam   16620506
210    Western Sahara    6339725
211             Yemen     689146
212            Zambia      59531
213          Zimbabwe     828764

[214 rows x 2 columns]

In [23]:
asylum = (
    df.groupby('Country of Asylum')["Refugees"].sum()
    .reset_index()
    #.sort_values("Refugees", ascending=False)
    .iloc[0:500] 
)
asylum

                      Country of Asylum  Refugees
0                           Afghanistan   1256841
1                               Albania     55194
2                               Algeria   6320758
3                                Angola   1855578
4                              Anguilla         0
..                                  ...       ...
188  Venezuela (Bolivarian Republic of)   2558924
189                            Viet Nam    912012
190                               Yemen   4681043
191                              Zambia   5351343
192                            Zimbabwe   1636756

[193 rows x 2 columns]

In [27]:
merged = pd.merge(
    left = origin,
    right = asylum,
    left_on='Country of Origin', 
    right_on='Country of Asylum',
    suffixes = ['_origin', '_asylum']
)

In [31]:
merged.head(2)

  Country of Origin  Refugees_origin Country of Asylum  Refugees_asylum
0       Afghanistan        154402630       Afghanistan          1256841
1           Albania           417113           Albania            55194

In [33]:
merged.pop('Country of Asylum')

0                             Afghanistan
1                                 Albania
2                                 Algeria
3                                  Angola
4                                Anguilla
                      ...
186    Venezuela (Bolivarian Republic of)
187                              Viet Nam
188                                 Yemen
189                                Zambia
190                              Zimbabwe
Name: Country of Asylum, Length: 191, dtype: object

In [35]:
merged.columns = ['Country', 'count origin', 'count asylum']

In [37]:
merged.head(10)

               Country  count origin  count asylum
0          Afghanistan     154402630       1256841
1              Albania        417113         55194
2              Algeria        211409       6320758
3               Angola      17775243       1855578
4             Anguilla             5             0
5  Antigua and Barbuda          1142            20
6            Argentina         15795        721231
7              Armenia       1917527       4272421
8                Aruba             0             0
9            Australia           573       4566275

In [73]:
# add friendliness column
merged['friendliness'] = round(merged['count asylum'] / (merged['count origin'] + merged['count asylum']) * 100, 2)

In [81]:
merged.sort_values('friendliness', ascending=False)

,Country,count origin,count asylum,friendliness
112,Micronesia (Federated States of),0,10,100.00
164,Sweden,674,6871722,99.99
64,France,2289,15889220,99.99
128,Norway,144,1778322,99.99
9,Australia,573,4566275,99.99
165,Switzerland,784,3529337,99.98
39,"China, Macao SAR",150,672761,99.98
63,Finland,112,554900,99.98
69,Germany,10025,40463645,99.98
51,Denmark,325,1688323,99.98
10,Austria,913,4606222,99.98
103,Luxembourg,20,108649,99.98
179,United Kingdom of Great Britain and Northern I...,3795,12047196,99.97
122,Netherlands (Kingdom of the),1652,3917463,99.96
85,Ireland,140,357987,99.96
38,"China, Hong Kong SAR",1538,3962514,99.96
32,Canada,2631,7156722,99.96
17,Belgium,1311,2691254,99.95
87,Italy,2831,3331461,99.92
181,United States of America,41623,34396886,99.88
108,Malta,224,142499,99.84
123,New Zealand,411,232766,99.82
180,United Rep. of Tanzania,30726,17063734,99.82
101,Liechtenstein,10,4120,99.76
168,Thailand,14450,5704704,99.75
18,Belize,885,256171,99.66
43,Costa Rica,6764,1858305,99.64
65,French Guiana,79,20793,99.62
106,Malaysia,14338,3488604,99.59
160,Spain,8284,1681554,99.51
90,Jordan,53184,10713358,99.51
48,Cyprus,925,177525,99.48
120,Nauru,37,6157,99.40
80,Iceland,154,23487,99.35
60,Eswatini,2408,360436,99.34
138,Portugal,1313,198880,99.34
105,Malawi,43797,5960825,99.27
149,Saudi Arabia,22769,2910607,99.22
189,Zambia,59531,5351343,98.90
66,Gabon,5861,484655,98.81
98,Lesotho,1261,98734,98.74
89,Japan,2516,192823,98.71
23,Botswana,2824,182563,98.48
54,Ecuador,32033,1958111,98.39
92,Kenya,214800,11877232,98.22
6,Argentina,15795,721231,97.86
130,Pakistan,2077759,82006466,97.53
132,Panama,5987,231859,97.48
133,Papua New Guinea,10283,366533,97.27
19,Benin,11420,400774,97.23
24,Brazil,31539,1082975,97.17
2,Algeria,211409,6320758,96.76
97,Lebanon,478801,12124819,96.20
121,Nepal,130330,3015992,95.86
83,Iran (Islamic Rep. of),3823944,78675611,95.36
81,India,394250,7395829,94.94
111,Mexico,210858,3791584,94.73
178,United Arab Emirates,4495,78960,94.61
134,Paraguay,2189,36741,94.38
154,Slovakia,15191,243912,94.14
86,Israel,25098,379007,93.79
14,Bangladesh,637787,9415461,93.66
102,Lithuania,13181,168475,92.74
52,Djibouti,94973,1122313,92.20
55,Egypt,338967,3925748,92.05
125,Niger,198806,2113781,91.40
175,Türkiye,3238672,33193266,91.11
115,Montenegro,22519,221980,90.79
49,Czechia,89772,883133,90.77
71,Greece,135108,1322280,90.73
93,Kuwait,30231,287235,90.48
53,Dominican Rep.,8102,73802,90.11
31,Cameroon,764406,6179318,88.99
173,Turkmenistan,25855,204235,88.76
113,Monaco,45,345,88.46
176,Uganda,2796127,20380064,87.94
137,Poland,313385,2158864,87.32
188,Yemen,689146,4681043,87.17
59,Estonia,14511,85243,85.45
26,Bulgaria,83136,487110,85.42
33,Cayman Islands,57,326,85.12
74,Guinea,1173541,6608576,84.92
158,South Africa,371083,1914142,83.76
44,Cote d'Ivoire,1016055,3891079,79.29
78,Honduras,341882,1295291,79.12
42,Congo,502865,1854868,78.67
156,Solomon Islands,1408,5020,78.10
79,Hungary,127284,442575,77.66
96,Latvia,26124,89423,77.39
139,Qatar,1105,3759,77.28
129,Oman,980,3332,77.27
150,Senegal,613978,1982999,76.36
140,Rep. of Korea,10033,31495,75.84
171,Trinidad and Tobago,5572,17188,75.52
153,Singapore,1383,4180,75.14
27,Burkina Faso,165130,491304,74.84
155,Slovenia,77907,227616,74.50
35,Chad,3363527,8798288,72.34
7,Armenia,1917527,4272421,69.02
186,Venezuela (Bolivarian Republic of),1155928,2558924,68.88
183,Uruguay,11712,24793,67.92
190,Zimbabwe,828764,1636756,66.39
151,Serbia and Kosovo: S/RES/1244 (1999),3798150,7469146,66.29
67,Gambia,139965,262004,65.18
94,Kyrgyzstan,109178,199574,64.64
70,Ghana,545993,978453,64.18
116,Morocco,78654,133177,62.87
141,Rep. of Moldova,146177,231336,61.28
100,Libya,172238,269592,61.02
50,Dem. Rep. of the Congo,16858541,26341554,60.98
185,Vanuatu,10,15,60.00
13,Bahrain,6554,8949,57.72
37,China,9220175,12580862,57.71
73,Guatemala,1142612,1491471,56.62
47,Curacao,358,455,55.97
21,Bolivia (Plurinational State of),21291,27067,55.97
91,Kazakhstan,201190,250532,55.46
162,Sudan,22451952,26494742,54.13
82,Indonesia,543593,604991,52.67
127,North Macedonia,160918,177789,52.49
131,Palau,10,11,52.38
143,Russian Federation,3999986,4356345,52.13
16,Belarus,144908,147096,50.37
109,Mauritania,1595174,1535558,49.05
184,Uzbekistan,405624,323162,44.34
172,Tunisia,54642,41211,42.99
61,Ethiopia,24508457,17061232,41.04
142,Romania,382909,257247,40.19
36,Chile,200424,106372,34.67
135,Peru,159510,81622,33.85
170,Togo,912602,455715,33.30
157,Somalia,25065193,11642861,31.72
148,Samoa,34,15,30.61
11,Azerbaijan,4429984,1901572,30.03
28,Burundi,15139779,6353594,29.56
45,Croatia,4316373,1489045,25.65
174,Turks and Caicos Islands,194,64,24.81
75,Guinea-Bissau,953738,281775,22.81
119,Namibia,812871,213031,20.77
68,Georgia,423662,108751,20.43
126,Nigeria,3156273,798437,20.19
107,Mali,2580620,643570,19.96
124,Nicaragua,1038662,211909,16.94
99,Liberia,8465270,1638844,16.22
159,South Sudan,19132212,3522181,15.55
12,Bahamas,5801,1019,14.94
84,Iraq,28897656,5065489,14.91
136,Philippines,1437019,249993,14.82
144,Rwanda,16521375,2866002,14.78
34,Central African Rep.,7389142,1192556,13.90
152,Sierra Leone,4048496,590223,12.72
167,Tajikistan,904825,124412,12.09
104,Madagascar,6632,881,11.73
1,Albania,417113,55194,11.69
166,Syrian Arab Rep.,63787855,7467331,10.48
46,Cuba,636696,66989,9.52
3,Angola,17775243,1855578,9.45
182,Unknown,94345652,9487155,9.14
57,Equatorial Guinea,515469,40000,7.20
145,Saint Kitts and Nevis,474,29,5.77
110,Mauritius,2190,133,5.73
187,Viet Nam,16620506,912012,5.20
30,Cambodia,2345051,128158,5.18
76,Guyana,10206,527,4.91
117,Mozambique,9207245,455465,4.71
22,Bosnia and Herzegovina,8486010,400410,4.51
56,El Salvador,2547141,105111,3.96
88,Jamaica,31481,630,1.96
5,Antigua and Barbuda,1142,20,1.72
163,Suriname,27970,368,1.30
95,Lao People's Dem. Rep.,2353868,21120,0.89
0,Afghanistan,154402630,1256841,0.81
177,Ukraine,13452813,107191,0.79
58,Eritrea,11622405,81161,0.69
41,Comoros,13011,83,0.63
40,Colombia,5254227,32457,0.61
62,Fiji,26874,113,0.42
114,Mongolia,37566,113,0.30
29,Cabo Verde,2194,5,0.23
161,Sri Lanka,4415769,9267,0.21
15,Barbados,2331,5,0.21
20,Bhutan,2175878,3000,0.14
72,Grenada,4249,5,0.12
146,Saint Lucia,10408,10,0.10
118,Myanmar,14867698,0,0.00
4,Anguilla,5,0,0.00
25,Brunei Darussalam,52,0,0.00
77,Haiti,811990,15,0.00
169,Timor-Leste,386836,0,0.00
147,Saint Vincent and the Grenadines,18352,0,0.00
8,Aruba,0,0,NaN

In [83]:
# who is coming to the US?

In [85]:
df.head(10)

,Year,Country of Origin,Country of Asylum,Refugees
0,1951,Unknown,Australia,180000
1,1951,Unknown,Austria,282000
2,1951,Unknown,Belgium,55000
3,1951,Unknown,Canada,168511
4,1951,Unknown,Denmark,2000
5,1951,Unknown,France,290000
6,1951,Unknown,United Kingdom of Great Britain and Northern I...,208000
7,1951,Unknown,Germany,265000
8,1951,Unknown,Greece,18000
9,1951,Unknown,"China, Hong Kong SAR",30000

In [89]:
usa = df[df['Country of Asylum'] == 'United States of America']

In [103]:
usa_group = usa.groupby(['Year', 'Country of Origin'])['Refugees'].sum().reset_index()

In [111]:
# Create pivot table with country as rows and year as columns
usa_pivot = usa_group.pivot(index='Year', columns='Country of Origin', values='Refugees')
#usa_pivot - this is what I copied over to excel

In [137]:
usa_refugees = usa.groupby('Country of Origin')['Refugees'].sum().reset_index().sort_values('Refugees', ascending=False)

In [139]:
usa_refugees

                                     Country of Origin  Refugees
193                                           Unknown   19831597
151                                 Russian Federation   2072975
198                                           Viet Nam   2035489
38                                               China   1290682
23                              Bosnia and Herzegovina    841624
102                             Lao People's Dem. Rep.    524603
89                              Iran (Islamic Rep. of)    469910
167                                            Somalia    443384
82                                               Haiti    436157
64                                            Ethiopia    408477
47                                                Cuba    337888
90                                                Iraq    324518
41                                            Colombia    299904
59                                         El Salvador    280850
78                                           Guatemala    251043
189                                            Ukraine    248383
0                                          Afghanistan    211627
106                                            Liberia    202881
87                                               India    200748
173                                              Sudan    188407
58                                               Egypt    187846
197                 Venezuela (Bolivarian Republic of)    182880
161               Serbia and Kosovo: S/RES/1244 (1999)    140992
150                                            Romania    140897
84                                            Honduras    139738
31                                            Cambodia    126333
32                                            Cameroon    123693
1                                              Albania    114952
133                                          Nicaragua    113833
119                                             Mexico    112215
7                                              Armenia    100913
177                                   Syrian Arab Rep.     99239
129                                              Nepal     97267
126                                            Myanmar     93725
145                                             Poland     92422
139                                           Pakistan     90337
88                                           Indonesia     87975
61                                             Eritrea     82292
163                                       Sierra Leone     63850
16                                             Belarus     57067
79                                              Guinea     55197
149                                    Rep. of Moldova     52358
52                              Dem. Rep. of the Congo     51409
195                                         Uzbekistan     48613
143                                               Peru     44057
14                                          Bangladesh     43843
135                                            Nigeria     43539
117                                         Mauritania     43321
98                                               Kenya     42268
46                                             Croatia     40320
43                                               Congo     38209
181                                               Togo     37160
188                                             Uganda     33876
171                                          Sri Lanka     33276
187                                            Türkiye     31636
11                                          Azerbaijan     31249
152                                             Rwanda     30336
45                                       Cote d'Ivoire     26493
27                                            Bulgaria     25310
202                                           Zimbabwe     23966
70                                              Gambia     23871
97                                          Kazakhstan     23741
50                                             Czechia     23118
101                                         Kyrgyzstan     20837
29                                             Burundi     20202
85                                             Hungary     18944
71                                             Georgia     18856
25                                              Brazil     16152
113                                               Mali     16100
65                                                Fiji     16040
57                                             Ecuador     16010
104                                            Lebanon     15861
28                                        Burkina Faso     15332
172                                          Stateless     15072
122                                           Mongolia     12548
96                                              Jordan     11662
200                                              Yemen     10824
2                                              Algeria     10803
94                                             Jamaica      9360
73                                               Ghana      8234
107                                              Libya      7805
160                                            Senegal      7578
144                                        Philippines      7564
134                                              Niger      6888
4                                               Angola      6691
36                                                Chad      6685
159                                       Saudi Arabia      6018
62                                             Estonia      5848
185                                       Turkmenistan      5101
103                                             Latvia      4946
178                                         Tajikistan      4811
137                                    North Macedonia      4257
35                                Central African Rep.      3971
141                                             Panama      3716
54                                            Djibouti      3611
92                                              Israel      3314
100                                             Kuwait      2962
168                                       South Africa      2923
192                            United Rep. of Tanzania      2796
111                                           Malaysia      2566
56                                      Dominican Rep.      2446
12                                             Bahamas      2390
81                                              Guyana      2298
124                                            Morocco      2237
22                    Bolivia (Plurinational State of)      2134
6                                            Argentina      1971
44                                          Costa Rica      1944
108                                          Lithuania      1892
191  United Kingdom of Great Britain and Northern I...      1572
201                                             Zambia      1566
19                                               Benin      1378
123                                         Montenegro      1308
184                                            Tunisia      1229
37                                               Chile      1222
21                                              Bhutan      1213
72                                             Germany      1075
183                                Trinidad and Tobago       992
69                                               Gabon       917
190                               United Arab Emirates       879
33                                              Canada       803
174                                           Suriname       768
110                                             Malawi       691
67                                              France       639
13                                             Bahrain       631
127                                            Namibia       610
18                                              Belize       572
80                                       Guinea-Bissau       561
179                                           Thailand       530
165                                           Slovakia       522
164                                          Singapore       498
17                                             Belgium       492
148                                      Rep. of Korea       492
75                                              Greece       446
125                                         Mozambique       426
142                                           Paraguay       420
162                                         Seychelles       416
118                                          Mauritius       409
93                                               Italy       380
48                                            Curacao        358
169                                        South Sudan       325
51                         Dem. People's Rep. of Korea       325
109                                         Madagascar       308
155                   Saint Vincent and the Grenadines       301
60                                   Equatorial Guinea       291
76                                             Grenada       290
147                                              Qatar       242
194                                            Uruguay       211
166                                           Slovenia       207
140                                        Palestinian       205
55                                            Dominica       194
170                                              Spain       190
136                                               Niue       189
130                       Netherlands (Kingdom of the)       187
186                           Turks and Caicos Islands       184
95                                               Japan       173
39                                China, Hong Kong SAR       165
138                                               Oman       148
154                                        Saint Lucia       145
42                                             Comoros       143
146                                           Portugal       140
10                                             Austria       139
175                                             Sweden       124
112                                           Maldives       105
153                              Saint Kitts and Nevis        86
63                                            Eswatini        80
66                                             Finland        78
5                                  Antigua and Barbuda        74
105                                            Lesotho        64
34                                      Cayman Islands        57
3                                              Andorra        56
115                                   Marshall Islands        55
114                                              Malta        50
26                                   Brunei Darussalam        47
121                                             Monaco        45
24                                            Botswana        45
53                                             Denmark        35
176                                        Switzerland        35
77                                          Guadeloupe        34
86                                             Iceland        30
40                                    China, Macao SAR        20
157                                         San Marino        20
128                                              Nauru        15
15                                            Barbados        10
9                                            Australia        10
196                                            Vanuatu        10
20                                             Bermuda         5
30                                          Cabo Verde         0
199                                     Western Sahara         0
68                                       French Guiana         0
132                                        New Zealand         0
74                                           Gibraltar         0
156                                              Samoa         0
180                                        Timor-Leste         0
158                              Sao Tome and Principe         0
91                                             Ireland         0
120                   Micronesia (Federated States of)         0
116                                         Martinique         0
8                                                Aruba         0
83                                            Holy See         0
99                                            Kiribati         0
49                                              Cyprus         0
182                                              Tonga         0
131                                      New Caledonia         0